
{% block nav %}
    <style>
        .navbar-inverse {
            background-color: #123c51;
            border-color: #00BCD4;
            color: #FFF;
        }
    </style>
<nav class="navbar navbar-inverse ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Graph</a>
        </div>

    </div>
</nav>

{% endblock %}