{% extends './partials/base.html' %}
{% load static %}
{% block  content %}
    {% include './partials/nav.html' %}

    <div class="container">
        <div class="content">

                <div class="jumbotron"><H3>World Population</H3></div>
            <div class="col-sm-12 col-lg-10 col-md-12" style="height: 500px">
                <canvas id="myChart" style="width:90%;height:100% "></canvas>
            </div>



            <br>
            <div style="margin-top: 20px;">
                <div class="col-lg-6 col-lg-offset-2">
                    <br>


                    <div class="btn-group graph-type pull-right col-sm-12" role="group" aria-label="...">
                        <button type="button" class="btn btn-success">bar</button>
                        <button type="button" class="btn btn-success">line</button>
                        <button type="button" class="btn btn-success">radar</button>
                        <button type="button" class="btn btn-success">pie</button>
                        <button type="button" class="btn btn-success">doughnut</button>
                        <button type="button" class="btn btn-success">polarArea</button>

                    </div>
                    <br><br><br>
                    <table class="table table-striped">

                        <tr>
                            <th>country</th>
                            <th>population</th>
                        </tr>
                        {% for item in data %}
                            <tr>
                                <td>{{ item.country }}</td>
                                <td>{{ item.population }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% include './partials/pagination.html' %}
                </div>
            </div>
        </div>
    </div>



    <script src="{% static 'js/chart.js' %}"></script>

    <style>

    .table {
        color: #123c51;
        background-color:rgba(181, 193, 182, 0.2);
    }
    .container {
        background-color: rgba(210, 211, 209, 0.07);
        box-shadow: inset 0px 0px 1px 0px #000;
        padding:5px;
        box-radius:10px;
        border-radius: 14px;

    }
    .graph-type{
       margin: 0 auto;
        width:80%;
    }
    </style>
{% endblock %}

